*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  overflow-wrap: break-word;
}

html {
  --max-width: 992px;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 3rem;
  --divider-width: 1px;
  --divider-width-alt: 0.25rem;
  --border-radius: 0.25rem;
  --background: #171717;
  --text: #e6e6e6;
  --text-alt: #929292;
  --primary: #75b6e7;
  --divider: #404040;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--text);
  background-color: var(--background);
}

input,
button,
select,
textarea,
optgroup {
  font: inherit;
}

button {
  line-height: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: normal;
  margin-bottom: 0.5rem;
}

h1,
h2,
h3 {
  max-width: 30ch;
}

p {
  max-width: 70ch;
  margin-bottom: 1rem;
}

ul,
ol {
  list-style: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  overflow: visible;
}

[hidden] {
  display: none !important;
}

a {
  color: var(--primary);
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: underline;
}

.page-title {
  border-bottom: var(--divider-width-alt) solid var(--primary);
  margin-bottom: var(--spacing-lg);
  padding: var(--spacing-md) var(--spacing-sm);
}

.page-title__heading {
  max-width: var(--max-width);
  margin: 0 auto;
}

.page-footer {
  padding: var(--spacing-md) var(--spacing-sm);
}

.page-footer__link {
  color: var(--text-alt);
}

.page-footer__link:hover,
.page-footer__link:active {
  color: var(--primary);
}

.section-container {
  padding: 0 var(--spacing-sm);
}

.section-container__inner {
  max-width: var(--max-width);
  margin: 0 auto;
}

.section {
  margin-bottom: var(--spacing-lg);
}

.section__title {
  margin-bottom: var(--spacing-md);
}

.skills {
  border: var(--divider-width) solid var(--divider);
  border-radius: var(--border-radius);
}

.skills__item {
  padding: var(--spacing-sm) var(--spacing-md);
}

.skills__item:not(:last-of-type) {
  border-bottom: var(--divider-width) solid var(--divider);
}

.skills__item-sub {
  color: var(--text-alt);
}

.demonstrations {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr));
  gap: var(--spacing-md);
}

.card {
  border: var(--divider-width) solid var(--divider);
  border-radius: var(--border-radius);
}

.card__image {
  width: 100%;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.card__header {
  padding: var(--spacing-md);
  border-bottom: var(--divider-width) solid var(--divider);
}

.card__header > *:last-child {
  margin-bottom: 0;
}

.card__body {
  color: var(--text-alt);
  border-bottom: var(--divider-width) solid var(--divider);
  padding: var(--spacing-md);
}

.card__body > *:last-child {
  margin-bottom: 0;
}

.card__footer {
  padding: var(--spacing-md);
}

.card__footer > *:last-child {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .page-title {
    padding: var(--spacing-md);
  }

  .page-footer {
    padding: var(--spacing-md);
  }

  .section-container {
    padding: 0 var(--spacing-md);
  }
}
